@import 'config';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: $font-body;
  font-size: 14px;
}
.block {
  display: block;
}
.bold {
  font-weight: 700;
}
.small-text {
  font-size: 7px;
}
.center {
  text-align: center;
}
h1,
h2,
nav,
.submit {
  font-family: $font-stack;
}
h1,
h2 {
  padding-bottom: 1em;
}
nav,
#features,
#team,
#signin {
  padding: 2em;
}
img,
input {
  width: 100%;
}
ul {
  list-style-type: none;
}
h1 {
  line-height: 1.6em;
  font-size: 24px;
}
h2 {
  font-size: 16px;
}
a {
  text-decoration: none;
}
p {
  padding: 0 1em;
  line-height: 1.5em;
}
form {
  padding: 1.8em 1.2em;
}
input {
  padding: 1em;
  margin-bottom: 1em;
}
::placeholder {
  opacity: 0.5;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul {
    display: flex;
    li {
      padding-left: 1.5em;
    }
  }
  a {
    color: $Very-Dark-Blue;
  }
}
.logo {
  width: 30%;
  height: auto;
}
.illustration {
  padding: 3em 0 6em 0;
}
#team {
  background-color: $Light-Grayish-Blue;
  padding-bottom: 6em;
  p {
    padding: 0.5em 0;
  }
  .text-wrapper {
    p {
      color: $Desaturated-Blue;
    }
  }
}
.bg {
  background: url(/images/bg-curve-mobile.svg) no-repeat;
  background-size: cover;
  height: 3em;
}
.submit {
  background-color: $Bright-Blue;
  border: none;
  border-radius: 0.2em;
  color: white;
}
.link-center {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 3em 6em;
  border-bottom: 1px solid $Moderate-Cyan;
  padding-bottom: 0.5em;

  color: $Moderate-Cyan;
  span {
    padding-right: 0.5em;
  }
}
.card {
  background-color: #fff;
  margin: 0 2em;
  padding: 1.7em 2.8em;
  box-shadow: 100 gray;
  font-size: 10px;
  .author-info {
    display: flex;
    padding-top: 1em;
    .avatar {
      width: 36px;
      border-radius: 50%;
      padding-right: 0.8em;
    }
  }
}
#signin {
  background-color: $Desaturated-Blue;
  color: #fff;
  p {
    color: $Light-Grayish-Blue;
  }
}
footer {
  background-color: $Very-Dark-Blue;
  padding: 4em 3em;
  color: #fff;
  font-size: 16px;
  a {
    color: #fff;
  }
  .footer-content {
    padding: 3em 0;
  }
  ul {
    padding-bottom: 2em;
  }
  .contact-info,
  li {
    padding-bottom: 1em;
  }
  .contact-info {
    display: flex;
    align-items: center;
    span {
      padding-left: 1em;
    }
  }
}
.attribution {
  background-color: $Very-Dark-Blue;
  color: $Light-Grayish-Blue;
  a {
    color: #fff;
  }
}
@media (min-width: 768px) {
  nav {
    font-size: 20px;
    .logo {
      width: 20%;
    }
  }
  .bg {
    background: url(/images/bg-curve-desktop.svg) no-repeat;
    background-size: cover;
    height: 4em;
  }
}
@media (min-width: 1280px) {
  form {
    padding: 1.8em 0;
  }
  p {
    font-size: 16px;
  }
  nav,
  #features,
  #team {
    padding: 2em 6em;
  }
  #signin,
  footer {
    padding: 6em;
  }
  nav {
    font-size: 18px;
    .logo {
      width: 10%;
      height: auto;
    }
    ul {
      li {
        padding-left: 3em;
      }
    }
  }
  #features,
  #team,
  #signin {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3em;
    align-items: center;
  }
  //set this to the second div to reverse direction
  .text-wrapper {
    grid-column-start: 1;
    grid-row-start: 1;
    h1 {
      font-size: 40px;
    }
    p {
      font-size: 18px;
    }
    h1,
    h2,
    p {
      text-align: left;
      padding: 0;
      padding-bottom: 0.5em;
    }
  }

  .link-center {
    display: inline-block;
    margin: 0;
    margin-bottom: 2em;
  }
  .card {
    margin: 0;
    width: 65%;
    p {
      font-size: 14px;
    }
  }
  #features {
    form {
      display: grid;
      grid-template-columns: 3fr 2fr 1fr;
      grid-gap: 1em;
    }
  }
  #team {
    h2 {
      font-size: 36px;
    }
  }
  .bg {
    background: url(/images/bg-curve-desktop.svg) no-repeat;
    background-size: cover;
    height: 5em;
  }
  #signin {
    .submit {
      width: 40%;
    }
    .text-wrapper {
      width: 80%;
    }
    h2 {
      font-size: 26px;
    }
  }
  .footer-grid {
    padding-top: 1em;
    display: flex;
    .footer-content,
    ul {
      padding: 0;
      padding-right: 10em;
    }
    address {
      text-align: left;
    }
  }
}
