@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.block {
  display: block;
}

.bold {
  font-weight: 700;
}

.small-text {
  font-size: 7px;
}

.center {
  text-align: center;
}

h1,
h2,
nav,
.submit {
  font-family: "Raleway", sans-serif;
}

h1,
h2 {
  padding-bottom: 1em;
}

nav,
#features,
#team,
#signin {
  padding: 2em;
}

img,
input {
  width: 100%;
}

ul {
  list-style-type: none;
}

h1 {
  line-height: 1.6em;
  font-size: 24px;
}

h2 {
  font-size: 16px;
}

a {
  text-decoration: none;
}

p {
  padding: 0 1em;
  line-height: 1.5em;
}

form {
  padding: 1.8em 1.2em;
}

input {
  padding: 1em;
  margin-bottom: 1em;
}

::-webkit-input-placeholder {
  opacity: 0.5;
}

:-ms-input-placeholder {
  opacity: 0.5;
}

::-ms-input-placeholder {
  opacity: 0.5;
}

::placeholder {
  opacity: 0.5;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  padding-left: 1.5em;
}

nav a {
  color: #070439;
}

.logo {
  width: 30%;
  height: auto;
}

.illustration {
  padding: 3em 0 6em 0;
}

#team {
  background-color: #f6f6fe;
  padding-bottom: 6em;
}

#team p {
  padding: 0.5em 0;
}

#team .text-wrapper p {
  color: #585989;
}

.bg {
  background: url(/images/bg-curve-mobile.svg) no-repeat;
  background-size: cover;
  height: 3em;
}

.submit {
  background-color: #3065f8;
  border: none;
  border-radius: 0.2em;
  color: white;
}

.link-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3em 6em;
  border-bottom: 1px solid #3c9f8f;
  padding-bottom: 0.5em;
  color: #3c9f8f;
}

.link-center span {
  padding-right: 0.5em;
}

.card {
  background-color: #fff;
  margin: 0 2em;
  padding: 1.7em 2.8em;
  -webkit-box-shadow: 100 gray;
          box-shadow: 100 gray;
  font-size: 10px;
}

.card .author-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1em;
}

.card .author-info .avatar {
  width: 36px;
  border-radius: 50%;
  padding-right: 0.8em;
}

#signin {
  background-color: #585989;
  color: #fff;
}

#signin p {
  color: #f6f6fe;
}

footer {
  background-color: #070439;
  padding: 4em 3em;
  color: #fff;
  font-size: 16px;
}

footer a {
  color: #fff;
}

footer .footer-content {
  padding: 3em 0;
}

footer ul {
  padding-bottom: 2em;
}

footer .contact-info,
footer li {
  padding-bottom: 1em;
}

footer .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .contact-info span {
  padding-left: 1em;
}

.attribution {
  background-color: #070439;
  color: #f6f6fe;
}

.attribution a {
  color: #fff;
}

@media (min-width: 768px) {
  nav {
    font-size: 20px;
  }
  nav .logo {
    width: 20%;
  }
  .bg {
    background: url(/images/bg-curve-desktop.svg) no-repeat;
    background-size: cover;
    height: 4em;
  }
}

@media (min-width: 1280px) {
  form {
    padding: 1.8em 0;
  }
  p {
    font-size: 16px;
  }
  nav,
  #features,
  #team {
    padding: 2em 6em;
  }
  #signin,
  footer {
    padding: 6em;
  }
  nav {
    font-size: 18px;
  }
  nav .logo {
    width: 10%;
    height: auto;
  }
  nav ul li {
    padding-left: 3em;
  }
  #features,
  #team,
  #signin {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 3em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .text-wrapper {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
  .text-wrapper h1 {
    font-size: 40px;
  }
  .text-wrapper p {
    font-size: 18px;
  }
  .text-wrapper h1,
  .text-wrapper h2,
  .text-wrapper p {
    text-align: left;
    padding: 0;
    padding-bottom: 0.5em;
  }
  .link-center {
    display: inline-block;
    margin: 0;
    margin-bottom: 2em;
  }
  .card {
    margin: 0;
    width: 65%;
  }
  .card p {
    font-size: 14px;
  }
  #features form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 2fr 1fr;
        grid-template-columns: 3fr 2fr 1fr;
    grid-gap: 1em;
  }
  #team h2 {
    font-size: 36px;
  }
  .bg {
    background: url(/images/bg-curve-desktop.svg) no-repeat;
    background-size: cover;
    height: 5em;
  }
  #signin .submit {
    width: 40%;
  }
  #signin .text-wrapper {
    width: 80%;
  }
  #signin h2 {
    font-size: 26px;
  }
  .footer-grid {
    padding-top: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer-grid .footer-content,
  .footer-grid ul {
    padding: 0;
    padding-right: 10em;
  }
  .footer-grid address {
    text-align: left;
  }
}
