@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.block {
  display: block;
}

.bold {
  font-weight: 700;
}

.small-text {
  font-size: 7px;
}

.center {
  text-align: center;
}

h1,
h2,
nav,
.submit {
  font-family: "Raleway", sans-serif;
}

h1,
h2 {
  padding-bottom: 1em;
}

nav,
#features,
#team,
#signin,
footer {
  padding: 2em;
}

img,
input {
  width: 100%;
}

ul {
  list-style-type: none;
}

h1 {
  line-height: 1.6em;
  font-size: 24px;
}

h2 {
  font-size: 16px;
}

a {
  text-decoration: none;
}

p {
  padding: 0 1em;
  line-height: 1.5em;
}

form {
  padding: 1.8em 1.2em;
}

input {
  padding: 1em;
  margin-bottom: 1em;
}

::-webkit-input-placeholder {
  opacity: 0.5;
}

:-ms-input-placeholder {
  opacity: 0.5;
}

::-ms-input-placeholder {
  opacity: 0.5;
}

::placeholder {
  opacity: 0.5;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  padding-left: 1.5em;
}

nav a {
  color: #070439;
}

.logo {
  width: 30%;
  height: auto;
}

.illustration {
  padding: 3em 0 6em 0;
}

#team {
  background-color: #f6f6fe;
  padding-bottom: 6em;
}

#team p {
  padding: 0.5em 0;
}

.submit {
  background-color: #3065f8;
  border: none;
  border-radius: 0.2em;
  color: white;
}

.link-center {
  display: block;
  margin: 3em 6em;
  border-bottom: 1px solid #3c9f8f;
  padding-bottom: 0.5em;
  text-align: center;
  color: #3c9f8f;
}

.card {
  background-color: #fff;
  margin: 0 2em;
  padding: 1.7em 2.8em;
  -webkit-box-shadow: 100 gray;
          box-shadow: 100 gray;
  font-size: 10px;
}

.card .author-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1em;
}

.card .author-info .avatar {
  width: 36px;
  border-radius: 50%;
  padding-right: 0.8em;
}

#signin {
  background-color: #585989;
  color: #fff;
  padding-top: 4em;
}

#signin p {
  padding: 0 1.2em;
}

#signin form {
  padding: 2.5em;
}

#signin input {
  padding: 0.6em;
}
